KOKU_PATH=/path/to/koku
HCCM_PLUGIN_PATH=/path/to/hccm-plugin
GOOGLE_APPLICATION_CREDENTIALS=/path/to/gcp/credentials

OCI_USER=OCI_USER
OCI_FINGERPRINT=OCI_FINGERPRINT
OCI_TENANCY=OCI_TENANCY
OCI_CREDENTIALS=OCI_PRIVATE_KEY
OCI_REGION=OCI_REGION
OCI_BUCKET_NAME=OCI_BUCKET_NAME
OCI_NAMESPACE=OCI_NAMESPACE
