[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

setuptools = "*"
faker = "*"
boto3 = ">=1.7.42"
requests = ">=2.19.1"
jinja2 = ">=2.10"
azure-mgmt-costmanagement = "==0.1.0"
azure-mgmt-resource = "*"
azure-mgmt-storage = "*"
azure-storage-blob = "==2.1.0"
azure-storage = "==0.36.0"
google-cloud-storage = "~=1.19.1"


[dev-packages]

pylint = "==2.4.3"
tox = ">=3.0.0"
coverage = ">=4.5.0"
pyyaml = ">=3.13"


[requires]

python_version = "3.6"
