---
generators:
{% for compute in generator.compute_gens %}  - OCIComputeGenerator:
      start_date: {{ compute.start_date }}
      end_date: {{ compute.end_date }}
      unit_price: {{ compute.unit_price }}
      consumed_quantity: {{ compute.consumed_quantity }}
      currency: {{ compute.currency }}
      compartment_name: {{ compute.compartment_name }}
      tenant_id: {{ compute.tenant_id }}
      subscription_id: {{ compute.subscription_id }}
      tags:{% for tag in compute.tags %}
        {{ tag.key }}: {{ tag.v }}{% endfor %}
{% endfor %}
{% for storage in generator.storage_gens %}  - OCIBlockStorageGenerator:
      start_date: {{ storage.start_date }}
      end_date: {{ storage.end_date }}
      unit_price: {{ storage.unit_price }}
      consumed_quantity: {{ storage.consumed_quantity }}
      currency: {{ storage.currency }}
      compartment_name: {{ storage.compartment_name }}
      tenant_id: {{ storage.tenant_id }}
      subscription_id: {{ storage.subscription_id }}
      tags:{% for tag in storage.tags %}
        {{ tag.key }}: {{ tag.v }}{% endfor %}
{% endfor %}
{% for network in generator.network_gens %}  - OCINetworkGenerator:
      start_date: {{ network.start_date }}
      end_date: {{ network.end_date }}
      unit_price: {{ network.unit_price }}
      consumed_quantity: {{ network.consumed_quantity }}
      currency: {{ network.currency }}
      compartment_name: {{ network.compartment_name }}
      tenant_id: {{ network.tenant_id }}
      subscription_id: {{ network.subscription_id }}
      tags:{% for tag in network.tags %}
        {{ tag.key }}: {{ tag.v }}{% endfor %}
{% endfor %}
{% for db in generator.database_gens %}  - OCIDatabaseGenerator:
      start_date: {{ db.start_date }}
      consumed_quantity: {{ db.consumed_quantity }}
      end_date: {{ db.end_date }}
      unit_price: {{ db.unit_price }}
      currency: {{ db.currency }}
      compartment_name: {{ db.compartment_name }}
      tenant_id: {{ db.tenant_id }}
      subscription_id: {{ db.subscription_id }}
      tags:{% for tag in db.tags %}
        {{ tag.key }}: {{ tag.v }}{% endfor %}
{% endfor %}
