---
generators:
{% for item in cloudstorage_gens|default([]) %}  - CloudStorageGenerator:
      Line Item: {{ item.line_item|default(item._storage[0]) }}
      Measurement1: {{ item.measurement|default(item._storage[0]) }}
      Measurement1 Total Consumption: {{ item.measurement_total_consumption|default(faker("pyint")) }}
      Measurement1 Units: {{ item.measurement_units|default(item._storage[1]) }}
      Cost: {{ item.cost|default(faker("pyint")) }}
      Currency: {{ item.currency|default("USD") }}
      Description: {{ item.description|default(item._storage[2]) }}
      Credit1: {{ item.credit|default("No Credit") }}
      Credit1 Amount: {{ item.credit_amount|default(0) }}
      Credit1 Currency: {{ item.credit_currency|default("USD") }}
{% endfor %}
{% for item in computeengine_gens|default([]) %}  - ComputeEngineGenerator:
      Line Item: {{ item.line_item|default(item._compute[0]) }}
      Measurement1: {{ item.measurement|default(item._compute[0]) }}
      Measurement1 Total Consumption: {{ item.measurement_total_consumption|default(faker("pyint")) }}
      Measurement1 Units: {{ item.measurement_units|default(item._compute[1]) }}
      Cost: {{ item.cost|default(faker("pyint")) }}
      Currency: {{ item.currency|default("USD") }}
      Description: {{ item.description|default(item._compute[2]) }}
      Credit1: {{ item.credit|default("No Credit") }}
      Credit1 Amount: {{ item.credit_amount|default(0) }}
      Credit1 Currency: {{ item.credit_currency|default("USD") }}
{% endfor %}
{% for item in project_gens|default([]) %}  - ProjectGenerator:
      Account ID: {{ item.account|default(faker("word")+"-"+faker("word")) }}
      Project: {{ item.number|default(faker("ean13")) }}
      Project Number: {{ item.number|default(faker("ean13")) }}
      Project ID: {{ item.id|default(faker("word")+"-"+faker("word")+"-"+faker("word")) }}
      Project Name: {{ item.id|default(faker("word")+"-"+faker("word")+"-"+faker("word")) }}
      Project Labels: {{ item.labels|default(faker("word")+":"+faker("word")+";"+faker("word")+":"+faker("word")) }}
{% endfor %}
