---
generators:
{% for item in bandwidth_gens %}  - BandwidthGenerator:
      start_date: {{ item.start_date|default(faker("date_time_this_month")) }}
      end_date: {{ item.end_date|default(faker("date_time_between", start_date="now", end_date="now")) }}
      instance_id: {{ item.instance_id|default("subscriptions/"+payer+"/resourceGroups/rg-"+faker("word")+"/providers/"+_service_name+"/sg-"+faker("word")) }}
      meter_id: {{ item.meter_id|default(faker("uuid4")) }}
      resource_location: {{ item.resource_location|default(faker("word")) }}
      usage_quantity: {{ item.usage_quantity|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      resource_rate: {{ item.resource_rate|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      pre_tax_cost: {{ item.pre_tax_cost|default(None) }}
      tags: {% for tag in item.tags|default([{"key": "environment", "value": faker("random_choices", elements=("dev", "ci", "qa", "stage", "prod"), length=1)},
                                             {"key": "project", "value": faker("random_choices", elements=("p1", "p2", "p3"), length=1)}]) %}
        {{ tag.key }}: {{ tag.value }}{% endfor %}
{% endfor %}
{% for item in sql_gens %}  - SQLGenerator:
      start_date: {{ item.start_date|default(faker("date_time_this_month")) }}
      end_date: {{ item.end_date|default(faker("date_time_between", start_date="now", end_date="now")) }}
      instance_id: {{ item.instance_id|default("subscriptions/"+payer+"/resourceGroups/rg-"+faker("word")+"/providers/"+_service_name+"/sg-"+faker("word")) }}
      meter_id: {{ item.meter_id|default(faker("uuid4")) }}
      resource_location: {{ item.resource_location|default(faker("word")) }}
      usage_quantity: {{ item.usage_quantity|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      resource_rate: {{ item.resource_rate|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      pre_tax_cost: {{ item.pre_tax_cost|default(None) }}
      tags: {% for tag in item.tags|default([{"key": "environment", "value": faker("random_choices", elements=("dev", "ci", "qa", "stage", "prod"), length=1)},
                                             {"key": "project", "value": faker("random_choices", elements=("p1", "p2", "p3"), length=1)}]) %}
        {{ tag.key }}: {{ tag.value }}{% endfor %}
{% endfor %}
{% for item in storage_gens %}  - StorageGenerator:
      start_date: {{ item.start_date|default(faker("date_time_this_month")) }}
      end_date: {{ item.end_date|default(faker("date_time_between", start_date="now", end_date="now")) }}
      instance_id: {{ item.instance_id|default("subscriptions/"+payer+"/resourceGroups/rg-"+faker("word")+"/providers/"+_service_name+"/sg-"+faker("word")) }}
      meter_id: {{ item.meter_id|default(faker("uuid4")) }}
      resource_location: {{ item.resource_location|default(faker("word")) }}
      usage_quantity: {{ item.usage_quantity|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      resource_rate: {{ item.resource_rate|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      pre_tax_cost: {{ item.pre_tax_cost|default(None) }}
      tags: {% for tag in item.tags|default([{"key": "environment", "value": faker("random_choices", elements=("dev", "ci", "qa", "stage", "prod"), length=1)},
                                             {"key": "project", "value": faker("random_choices", elements=("p1", "p2", "p3"), length=1)}]) %}
        {{ tag.key }}: {{ tag.value }}{% endfor %}
{% endfor %}
{% for item in vmachine_gens %}  - VMGenerator:
      start_date: {{ item.start_date|default(faker("date_time_this_month")) }}
      end_date: {{ item.end_date|default(faker("date_time_between", start_date="now", end_date="now")) }}
      instance_id: {{ item.instance_id|default("subscriptions/"+payer+"/resourceGroups/rg-"+faker("word")+"/providers/"+_service_name+"/sg-"+faker("word")) }}
      meter_id: {{ item.meter_id|default(faker("uuid4")) }}
      resource_location: {{ item.resource_location|default(faker("word")) }}
      usage_quantity: {{ item.usage_quantity|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      resource_rate: {{ item.resource_rate|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      pre_tax_cost: {{ item.pre_tax_cost|default(None) }}
      tags: {% for tag in item.tags|default([{"key": "environment", "value": faker("random_choices", elements=("dev", "ci", "qa", "stage", "prod"), length=1)},
                                             {"key": "project", "value": faker("random_choices", elements=("p1", "p2", "p3"), length=1)}]) %}
        {{ tag.key }}: {{ tag.value }}{% endfor %}
{% endfor %}
{% for item in vnetwork_gens %}  - VNGenerator:
      start_date: {{ item.start_date|default(faker("date_time_this_month")) }}
      end_date: {{ item.end_date|default(faker("date_time_between", start_date="now", end_date="now")) }}
      instance_id: {{ item.instance_id|default("subscriptions/"+payer+"/resourceGroups/rg-"+faker("word")+"/providers/"+_service_name+"/sg-"+faker("word")) }}
      meter_id: {{ item.meter_id|default(faker("uuid4")) }}
      resource_location: {{ item.resource_location|default(faker("word")) }}
      usage_quantity: {{ item.usage_quantity|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      resource_rate: {{ item.resource_rate|default(faker("pyfloat", min_value=0, max_value=1, right_digits=5, positive=True)) }}
      pre_tax_cost: {{ item.pre_tax_cost|default(None) }}
      tags: {% for tag in item.tags|default([{"key": "environment", "value": faker("random_choices", elements=("dev", "ci", "qa", "stage", "prod"), length=1)},
                                             {"key": "project", "value": faker("random_choices", elements=("p1", "p2", "p3"), length=1)}]) %}
        {{ tag.key }}: {{ tag.value }}{% endfor %}
{% endfor %}

# SubscriptionGuid
accounts:
  payer: {{ payer|default(faker("uuid4")) }}
  user:{% for user in users|default([faker("uuid4")]) %}
    - {{ user }}{% endfor %}
