---
generators:
  - OCPGenerator:
      start_date: {{generator.start_date}}
      end_date: {{generator.end_date}}
      nodes:
        {% for node in generator.nodes %}# start node loop
        - node:
          node_name: {{node.name}}
          cpu_cores: {{node.cpu_cores}}
          memory_gig: {{node.memory_gig}}
          resource_id: {{node.resource_id}}
          namespaces:
            {% for namespace in node.namespaces %}# start namespace loop
            {{namespace.name}}:
              pods:
                {% for pod in namespace.pods %}# start pod loop
                - pod:
                  pod_name: {{pod.name}}
                  cpu_request: {{pod.cpu_request}}
                  mem_request_gig: {{pod.mem_request_gig}}
                  cpu_limit: {{pod.cpu_limit}}
                  mem_limit_gig: {{pod.mem_limit_gig}}
                  pod_seconds: {{pod.pod_seconds}}
                  labels: {{pod.labels}}
                {% endfor %}# end pod loop
              volumes:
                {% for volume in namespace.volumes %}# start volume loop
                - volume:
                  volume_name: {{volume.name}}
                  storage_class: {{volume.storage_class}}
                  volume_request_gig: {{volume.volume_request_gig}}
                  labels: {{volume.labels}}
                  volume_claims:
                  {% for volume_claim in volume.volume_claims %}# start volume-claim loop
                  - volume_claim:
                    volume_claim_name: {{volume_claim.name}}
                    pod_name: {{volume_claim.pod_name}}
                    labels: {{volume_claim.labels}}
                    capacity_gig: {{volume_claim.capacity_gig}}
                  {% endfor %}# end volume claim loop
                {% endfor %}# end volume loop
            {% endfor %}# end namespace loop
        {% endfor %}# end node loop
