name: pre-commit

on:
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.2.0

    - name: Install Python
      uses: actions/setup-python@v4.4.0
      with:
        python-version: '3.9'

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.0
