name: pre-commit

on:
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Install Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version-file: .python-version

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.1
